.App {
  background-color: #dadfe9;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  overflow-x: scroll;
}

.App-logo {
  height: 40vmin;
}

.links {
  text-align: center;
}

.MuiButtonBase-root {
border: 2px black solid;
}

.App-header {
  background-color: #dadfe9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
}

button {
  margin: 20px;
}

.add-transaction {
  margin: auto;
  display: inline-block;
  width: 300px;
}

.table {
  /* margin: 10px; */
}